# Apriori, FP-growth
묶음상품을 추천해준다면, 위와 같은 알고리즘을 사용할 수 있을 것 같다.
데이터가 많으면 충분히 사용이 가능하다.

그러나 새로운 데이터보다는 기존 데이터에 더 치중할 가능성이 있다.

참고로 초기 추천시스템에서 주로 사용된 경향성을 띠고, online learing의 형태로 (transaction이 들어올때 마다 다시 학습이 가능한 구조)가 될 것으로 보인다.

사실 추천시스템이 applicable하려면 online learning에 적합한 연구가 더욱 있어야하지 않을까 싶다.

In [1]:
import mlxtend
import numpy as np
import pandas as pd

In [6]:
data = np.array([
    ['우유','기저귀','쥬스'],
    ['양상추','기저귀','맥주'],
    ['우유','양상추','기저귀','맥주'],
    ['양상추','맥주']
])

/var/folders/mh/jx8lklg147lb8j4rz9bcxl6w0000gn/T/ipykernel_79098/4186345831.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

# Apriori 알고리즘
-> 우리가 정한 조건을 기준으로 해당하지 않는 품목들을 하나씩 제거

In [10]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)

In [13]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [19]:
%%time
from mlxtend.frequent_patterns import apriori
apriori(df, min_support = 0.5, use_colnames = True)

CPU times: user 5.12 ms, sys: 1.42 ms, total: 6.54 ms
Wall time: 5.33 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50       (우유, 기저귀)
7     0.75       (맥주, 양상추)
8     0.50  (맥주, 기저귀, 양상추)

# FP-Growth 알고리즘
위 과정을 트리구조로 표현해서 시간적으로 더 효율적인 구조를 만듦

In [20]:
%%time
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.5, use_colnames=True)

CPU times: user 2.7 ms, sys: 1.32 ms, total: 4.02 ms
Wall time: 3.23 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (양상추, 기저귀)
6     0.50  (맥주, 기저귀, 양상추)
7     0.50       (우유, 기저귀)
8     0.75       (맥주, 양상추)